#box{
    width: 100px;
    height: 100px;
    background-color: red;
  }
  .box-bgc{
    background-color: green;
    color:  yellow;
  }
  .box-color{
    color: blue;
  }
  div{
    background-color: black;
    color: black;
  }